<% provide(:title,  @park.name) %>
<div ID = 'parkShow'>
<h1><%= @park.name %></h1>

  <div ID = 'img' > 
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=550x400&sensor=false&zoom=6&markers=#{@park.latitude}%2C#{@park.longitude}" %>
  </div>




  <div ID ='textContainer'>
    <strong>Name:</strong>
    <%= @park.name %>
    <br>

    <strong>City:</strong>
    <%= @park.city %>
    <br> 

    <strong>State:</strong>
    <%= @park.state %>
    <br>

    <strong>Country:</strong>
    <%= @park.country %>
    <br>

    <!--<strong>Latitude:</strong>
    <%= @park.latitude %>
    <br>

    <strong>Longitude:</strong>
    <%= @park.longitude %>
    <br>  -->

    <strong> Description:</strong>
    <%= @park.description %>
    <br> 

    <strong> Activities: </strong>
    <ul>
      <% @activity.each do |activity| %>
        <li><%= "#{activity.activity}" %></li>
       <% end %>
     </ul>


 
    <h4> What is Nearby</h4>
    <ul>
      <% for park in @park.nearbys(100).limit(5) %>
      <li><%= link_to park.name, park %> (<%= park.distance.round(2) %> miles)</li>
      <% end %>
    </ul>
  </div>
</div>




<%= link_to 'index', parks_path %>




