<h1> :) </h1>



<p>
  <strong>Name:</strong>
  <%= @park.name %>
</p>
<p>
  <strong>City:</strong>
  <%= @park.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @park.state %>
</p>
<p>
  <strong>Country:</strong>
  <%= @park.country %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @park.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @park.longitude %>
</p>

<%= link_to 'index', parks_path %>