

<html>

<body>
<div id = 'headerLogo'>
	<h1><%= image_tag("logo.png")%></h1> 
</div> 
<div id="main">
	

	<%= link_to 'New park', new_park_path %>
  
  	<%= form_tag parks_path, :method => :get do %>
    	<p>
      

    
      	<%= text_field_tag :search, params[:search] %>
       
       <br>
        <%= submit_tag "Search Near", :class => 'button', :name => nil %>
      
    	</p>
  	<% end %>


</div>
</body>

</html>



